*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;

  max-width: 1440px;
  min-height: 100vh;

  margin: 0 auto;

  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

/* -------------------------Variables-------------------------------- */

:root {
  --white: #fff;
  --opac-white: #d7ccc0;
  --light: #f5f4f0;
  --opac-dark: #908d8b;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  color: var(--dark);

  font-size: 16px;
  font-family: "Open Sans", sans-serif;

  line-height: 1.6em;
}

h1,
h2,
h3 {
  font-family: Neucha, sans-serif;

  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 0;
}

.header {
  position: relative;

  width: 100%;
  height: 914px;

  background-color: var(--light);
}

.background::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.wrap {
  position: relative;

  display: flex;
  gap: 30px;
}

.wrap h1 {
  position: relative;
  z-index: 1;

  margin-bottom: 200px;
}

.wrap .image {
  position: absolute;
  top: -48px;
  right: -277px;

  height: 525px;
}

.orange-text {
  color: var(--main);
}

.text-wrap {
  min-height: 186px;

  column-count: 2;
  column-gap: 26px;
}

.text-wrap p:nth-child(2) {
  margin-top: 60px;
  break-inside: avoid;
}

.text-wrap p:nth-child(3) {
  margin-top: 10px;
}

.btn {
  position: relative;
  z-index: 2;

  padding: 15px 24px;

  background-color: var(--main);

  cursor: pointer;
}

.btn-hero {
  min-width: 148px;
  margin-top: 40px;
}

.btn a {
  color: var(--white);

  font-weight: 700;
  font-size: 16px;

  text-transform: uppercase;
}

/* ------------------------Intro Section----------------------------------- */

.video-section {
  margin: 0 auto;

  text-align: center;
}

.video-section .text {
  margin-top: 30px;
}

.video {
  margin-top: 30px;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* --------------------------Nav Section----------------------------- */

.nav-section {
  min-height: 991px;
  margin-top: -200px;

  background-color: var(--main-dark);
}

.nav-container {
  margin-top: 100px;
}

.first-row,
.second-row {
  display: flex;
  gap: 30px;
}

.second-row {
  margin-top: 20px;
}

.card {
  width: 350px;
  height: 323px;

  background-color: var(--light);
}

.card h2 {
  color: var(--white);
  font-size: 52px;
}

.second-row .card,
.first-row .card:not(:first-child) {
  padding: 20px;

  cursor: pointer;
}

.first-row .card:first-child {
  background-color: transparent;
}

.second-row .card span,
.first-row .card:not(:first-child) span {
  color: var(--main-dark);
  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

.card h3 {
  margin-top: 40px;

  color: var(--main);
}

.card .text {
  margin-top: 16px;

  color: var(--dark);
}

.card-2 {
  min-height: 348px;
}

/* ----------------------IKEA Effect------------------------------ */

.section:nth-child(2n + 4) {
  color: var(--white);

  background-color: var(--brown);
}

.section:nth-child(2n + 3) {
  background-color: var(--light);
}

.ikea-effect {
  max-height: 905px;
}

.content {
  position: relative;
}

.content::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: contain;

  opacity: 0.1;

  content: "";
}

.upper-text {
  color: var(--opac-dark);
  font-size: 24px;
  font-family: Neucha, sans-serif;
}

.low-text {
  margin-top: 28px;

  font-size: 34px;
  font-family: Neucha, sans-serif;

  line-height: 40.8px;
}

.article-header {
  margin: 100px 0 20px;
  padding: 5px 10px;

  color: var(--white);
  font-weight: 700;
  font-size: 14px;

  font-family: "Open Sans", sans-serif;

  text-transform: uppercase;

  background-color: var(--brown);
}

.section:nth-child(2n + 4) .article-header {
  color: var(--brown);

  background-color: var(--white);
}

.section:nth-child(2n + 4) .upper-text {
  color: var(--opac-white);
}

.section:nth-child(2n + 4) .wrap {
  flex-direction: row-reverse;
}

.section:nth-child(5) .text-wrap {
  column-gap: 10px;
}

.section:nth-child(5) .text-wrap p:nth-child(2) {
  padding-left: 10px;
}

.premature-optimization {
  min-height: 855px;
}

.distortion-of-novelty {
  max-height: 880px;
}

.hyperbolic-depreciation {
  max-height: 937px;
}

.errors-in-planning {
  max-height: 919px;
}

/* -------------------------Footer---------------------------------- */

.footer {
  min-height: 581px;
}

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 190px;

  margin-bottom: 70px;
  padding: 0 55px;

  color: var(--white);

  background-color: var(--main-dark);
}

.right-side .text:first-child {
  margin-bottom: 10px;

  font-size: 18px;
}

.right-side .text:last-child {
  font-size: 12px;
}

.right-side .text:last-child a {
  color: var(--white);
  text-decoration: underline;
}

.btn-footer {
  width: 57px;
  height: 50px;

  background-image: url("../svg/send.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.input-wrap {
  display: flex;
}

.email {
  width: 420px;
  height: 50px;
}

.email::placeholder {
  padding: 15px;

  color: #757575;
  font-size: 13px;
}

.link {
  color: var(--blue);
  text-decoration: underline;
}

.footer-text {
  margin-top: 16px;

  font-size: 14px;
  text-align: center;
}
